.hero {
  color:salmon;
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  background-color: transparent;
  margin-right: 30px; /* add right margin */
}

.about,
.projects,
.contact,
.main {
  height: 100vh; /* Set the height to 100% of the viewport height */
  background-color: rgba(238,238,238,255);
  color: #444444;
}

.about {
  text-align: right;
  display: flex;
}

.page-title {
  display: flex;
  justify-content: center;
}

.profile-container {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  display: flex;
  align-items: center;
  padding-top: 10%;
}

.email-content:hover {
  background-color: salmon;
}

.profile-image {
  background-color: #bcd2ff;
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  width: 200px;
  height: 200px;
  border: 5px solid white;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-img {
  width: 250px; 
  height: 100%;
  object-fit: cover;
  object-position: center 1%;
  background-color: #bcd2ff;
}

.filler-text {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}


.about-container {
  height: 70vh; /* Set the height to 70% of the viewport height */
  display: flex;
  flex-direction: column;
  font-size: 50px;
  padding-left: 7%;
  text-align: left;
  justify-content: flex-start;
}



#comma {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 30px; /* Adjust the font size as per your preference */
}

.main-text-container {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding-left: 100px;
  padding-top: 10px; /* Adjust the top padding as per your preference */
  padding-bottom: 10px; /* Adjust the bottom padding as per your preference */
}


.link {
  text-decoration: none;
  display: inline;
  padding: 10px 10px;
  font-size: large;
  cursor: pointer;
  position: relative; /* Add position:relative to allow for absolute positioning of the underline */
  align-items: right;
}

#a, #b {
  font-size: 17px;
}

#c {
  margin-right: 40px;
  font-size: 17px;
}

.main {
  top: 0; /* set top to 0 to keep it at the top */
  z-index: -1; /* set z-index to a lower value than other sections */
  text-align: left;
  font-family: 'Source Code Pro';
  width: 100%; /* set width to 100% */
  overflow: auto; /* enable scrolling if necessary */
}

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-text {
  font-size: 2rem;
  max-width: 50%;
  text-align: right;
  padding-right: 50px;
}

.contact-text, .contact-smaller {
  font-size: 60px;
  text-align: center;
}

.contact-smaller {
  padding-top: 20%;
  font-size: 45px;
}

.small-text {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 20px; /* Adjust the font size as per your preference */
}

.email-button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.email-content {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #bcd2ff;
}

#logo {
  float: left;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  display: inline;
}

.link::after {
  color: black;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease; /* Add a transition effect to the width property */
}

.link:hover {
  color: black;
}

.link:hover::after {
  color: black;
  width: 100%; /* Change the width to 100% on hover to show the underline */
}

.about-text {
  font-size: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.main-text {
  font-size: 70px;
  text-align: left;
}
