.hero {
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  background-color: transparent;
  margin-right: 30px; /* add right margin */
}

.services,
.about,
.contact,
.main {
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.main {
  z-index: -1;
}

.services {
  background-color: #74bf70;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 10px 10px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
  position: relative; /* Add position:relative to allow for absolute positioning of the underline */
  align-items: right;
}

#a,#b {
  font-size: 17px;
}

#c {
  margin-right: 40px;
  font-size: 17px;
}

.main {
  background-color: rgb(255, 255, 255);
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  font-size: 2rem;
  max-width: 50%;
  text-align: right;
  padding-right: 50px;
}


.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease; /* Add a transition effect to the width property */
}

.link:hover::after {
  width: 100%; /* Change the width to 100% on hover to show the underline */
}

.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.services-text {
  font-size: 4rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; /* add this property */
}


.main-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-text {
  font-size: 4rem;
}


