.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  margin-bottom: 100px;
}
.services {
  height: 600px;
  background-color: black;
}
.blog {
  height: 600px;
}
.contact {
  height: 600px;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}